{% extends "layout/base.html" %}


{% if current_user.is_authenticated %}
{% block navbar %}
<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/submissions">
                    Submissions
                </a>
                <a class="navbar-item" href="/">
                    Log out </a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% endif %}
{% block title %} Papers to Review {% endblock %}

{% block content %}


{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}


    {% for p in paper %}
<div class="columns">
    <div class="column">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>Author ID:
                            <small>{{p.author_id}}</small>
                        <h4 class="subtitle is-5"> {{ p.title }}</h4>
                        <br>
                        {{ p.abstract }}
                        </p>
                    </div>
                    <div class="column is-narrow"></div>
                    <form class="is-one-fifth" role="form" method="post"
                          action="{{ url_for('save_review') }}">
                        <h1>Reviewer</h1>
                        <select name="dropdown">
                            {% for u in users %}
                                {% if p.author_id != u.id %}
                                    <option value="{{ u.id }}">
                                    {{ u.name }}
                                    </option>
                                {% endif %}
                            {% endfor %}

                            <input type="hidden" value="{{p.id}}" name="paper_id">
                        </select>
                        <button class="button is-danger is-rounded" type="submit">Submit</button>
                    </form>
                </div>
                <div class="column"></div>
            </article>
        </div>
    </div>
</div>
    {% endfor %}


{% endblock %}
