{% extends "layout/base.html" %}

{% block title %}
{% if current_user.is_authenticated %}
<a href="/logout">
    <button class="btn btn-link orange btn-success">Logout</button>
</a>


<h1 class="intro_title">Hi {{ current_user.name }} !</h1>
{% endif %}
{% endblock %}

{% block content %}
<section class="section-components">

    <br/>
    <br/>
 <form class="form-signin" role="form" method="post" action="">
       {{ form.csrf_token }}

       {{ form.title(placeholder="Title") }}
    <span class="error">
      {% if form.title.errors %}
        {% for error in form.title.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.abstract(placeholder="What's the paper about?") }}
    <span class="error">
      {% if form.abstract.errors %}
        {% for error in form.abstract.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
      {{ form.status(placeholder="") }}
  </p>
  <button class="btn btn-sm btn-success" type="submit">Add New Paper</button>
</form>



</section>
{% endblock %}


