{% extends "layout/base.html" %}


{% block title %}
    Welcome! Do you want to register or login?
{% endblock %}


{% block content %}

    <div class="container home has-text-centered">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="section">
                    <a href="/register" class="btn btn-sm btn-success">
                        Sign up
                    </a>
                    <a href="/login" class="btn btn-sm btn-success">
                        Login
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<h1 class="page-header">Helloooo</h1>
