{% extends "layout/base.html" %}

{% block title %}
    Please Login
{% endblock %}

{% block content %}

    <div class="container has-text-centered">
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <div class="section">
                    <form class="form-signin" role="form" method="post" action="">
                        {{ form.csrf_token }}
                        <div class="column">
                            <p>
                                {{ form.name(placeholder="username") }}
                                <span class="error">
                                {% if form.name.errors %}
                                    {% for error in form.name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                            </span>
                            </p>
                        </div>
                        <div class="column">
                            <p>
                                {{ form.password(placeholder="password") }}
                                <span class="error">
                                {% if form.password.errors %}
                                    {% for error in form.password.errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endif %}
                            </span>
                            </p>
                        </div>
                        <div class="column">
                            <button class="btn btn-sm btn-success" type="submit">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}


