{% extends "layout/base.html" %}
{% if current_user.is_authenticated %}
{% block navbar %}
<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/paper/new">
                    Create New Paper
                </a>
                <a class="navbar-item" href="/">
                    Log out </a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}
{% endif %}
{% block title %}Hi {{ current_user.name }} !
{% endblock %}

{% block content %}
<span id="userid" style="visibility: hidden;">{{ current_user.id }}</span>
    <div class="text-primary">
        <h3 class="title is-8"> My Papers</h3>
        <div class="mypapers">

        </div>

    </div>
    <div class="review">
        <h2 class="title is-8"> Papers to review</h2>

        <div class="columns">

            <div class="column">
                  {% for my in mypapers%}
                <div class="box">
                    <article class="media">
                        <div class="media-content clearfix">
                            <div class="content">
                                <h4 class="subtitle is-5 is-bold"> {{ my.title }}</h4>
                                <br>
                                {{ my.abstract }}
                                </p>
                            </div>
                            <div class="column is-narrow"></div>
                            <form class="is-one-fifth" role="form" method="post" action="{{ url_for('save_rating') }}">
                                <h1 class="subtitle">My Rating</h1>
                                <select name="rating">
                                    <option value="-2">-2</option>
                                    <option value="-1">-1</option>
                                    <option value="0" selected="selected">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                <input type="hidden" value="{{my.id}}" name="paper_id">
                                <button class="button is-danger" type="submit">Submit</button>
                            </form>
                        </div>
                        <div class="column"></div>
                    </article>
                </div>
                       {% endfor %}
            </div>


        </div>
    </div>


{% endblock %}


{% block additional_scripts %}
<script type="text/javascript" src="/static/js/mypage.js"></script>
{% endblock %}

