{% extends "layout/base.html" %}

{% block title %}
{% endblock %}
{% block navbar %}
{% if current_user.is_authenticated %}

<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/mypage">
                    Mypage
                </a>
                <a class="navbar-item" href="/logout">
                    Log out </a>
            </div>
        </div>
    </div>
</nav>

{% endif %}
{% endblock %}


{% block content %}
<section class="section-components">

    <div class="columns">
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content clearfix">
                        <div class="content">

                            <form class="is-one-fifth" role="form" method="post" action="{{ url_for('save_page') }}">
                                <h2 class="title is-8"> New Paper</h2>
                                  {{ form.csrf_token }}
                                <p>
                                <h4 class="subtitle is-5"> {{ form.title(placeholder="Title") }}</h4>
                                <span class="error">
                              {% if form.title.errors %}
                                  {% for error in form.title.errors %}
                                      {{ error }}
                                  {% endfor %}
                              {% endif %}
                                </span>
                                <br>
                                {{ form.abstract(placeholder="What's the paper about?") }}
                                <span class="error">
                          {% if form.abstract.errors %}
                              {% for error in form.abstract.errors %}
                                  {{ error }}
                              {% endfor %}
                          {% endif %}
                             </span>

                                </p>

                                <div class="column is-narrow"></div>


                                <input type="hidden" value="" name="paper_id">
                                <button class="button is-danger" type="submit">Add New Paper</button>
                            </form>
                        </div>
                        <div class="column"></div>
                    </div>
                </article>
            </div>
        </div>
        <div class="column">
        </div>

    </div>


    <br/>
    <br/>


</section>
{% endblock %}


