{% extends "layout/base.html" %}


{% block navbar %}
<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/admin">
                    Admin
                </a>
                <a class="navbar-item" href="/">
                    Log out </a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block title %} Reviewed Papers {% endblock %}

{% block content %}
<div class="container">


    <h2 class="title is-8"> Submitted Papers</h2>
      {% for u in fetch['papers'] %}
    {% if u != None %}
    <div class="columns">

        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content clearfix">
                        <div class="content">

                        </div>
                        <div class="column is-narrow"></div>
                        <form class="" role="form" method="post" action="{{ url_for('save_submission_status') }}">


                            <strong><p class="subtitle is-8">Paper submission from ID</strong> <br>
                                    <small>{{ u.author_id }}</small>
                            </p><br>
                            <p class="title">{{u.title}}</p>

                            <p class="subtitle">Rating: {{ u.rating }}</p>



                            {{u.abstract}}



                            <div class="column">
                                <select name="status">  
                                    <option value="Accepted">Accept</option>
                                     
                                    <option value="Rejected">Reject</option>
                                      </select>
                                <button class="button is-danger" type="submit">Submit</button>
                            </div>

                            <input type="hidden" name="paper_id" value="{{ u.id }}">


                        </form>
                    </div>
                    <div class="column"></div>
                </article>
            </div>
        </div>
        <div class="column">
        </div>

    </div>
    {% endif %}
      {% endfor %}

</div>


{% endblock %}
