{% extends "layout/base.html" %}

{% block title %} Papers to Review {% endblock %}

{% block content %}
<div class="container">


    <h2 class="title is-8"> Submitted Papers</h2>
    <div class="columns">
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-content clearfix">
                        <div class="content">

                        </div>
                        <div class="column is-narrow"></div>
                        <form class="" role="form" method="post" action="{{ url_for('show_submissions') }}">

                            {% for u in fetch %}
                            {% for k in users %}
                            <strong><p class="subtitle is-8">Paper from</strong> <br>
                            <small>{{k.name}}</small>
                            </p><br>

                            {{u.title}}
                            {{u.abstract}}
                            {% endfor %}
                            {% endfor %}


                            <div class="column">
                                <select name="status"> 
                                    <option value="Under Review">Under Review</option>
                                     
                                    <option value="Accepted">Accepted</option>
                                     
                                    <option value="Rejected">Rejected</option>
                                      </select>
                                <button class="button is-danger" type="submit">Add a reviewer</button>
                            </div>


                        </form>
                    </div>
                    <div class="column"></div>
                </article>
            </div>
        </div>
        <div class="column">
        </div>

    </div>


</div>


{% endblock %}
