{% extends "layout/base.html" %}

{% block title %} Papers to Review {% endblock %}

{% block content %}
<div class="container">
    <div class="columns">


        <div class="column">
            <h3 class="subtitle">Submitted Papers</h3>
            <form class="" role="form" method="post" action="{{ url_for('show_submissions') }}">

                {% for u in fetch %}
                <h1>Paper from </h1>

                {{u.title}}
                {{u.abstract}}

                {% endfor %}


                <div class="column">
                    <button class="button is-danger" type="submit">Add a reviewer</button>
                </div>


            </form>

        </div>
    </div>
</div>

{% endblock %}
